<div>
  <h1>Characters</h1>
  <div *ngFor="let character of characters">
    <div class="charname">
      <strong>name </strong>
      {{ character.name ? character.name : character.aliases[0] }}
    </div>
    <div class="culture"><strong>culture </strong> {{ character.culture }}</div>
    <div class="booksno"><strong>Number of Books: </strong> {{ character.books.length }}</div>
  </div>
  <button (click)="handleClick()">Load More Characters</button>
  <div>Next page: {{ pageNumber }}</div>
</div>